@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Jockey+One&family=Poetsen+One&family=Quicksand:wght@300..700&family=Sacramento&family=Tilt+Warp&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Tilt Warp", sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
background-color: rgb(253, 235, 212);
    padding: 10px;
}
.cursor {
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s;
    background: black;
    width: 20px;
    height: 20px;
    z-index: 999;
}



#time{
    color: rgb(0, 0, 0);
    margin-left: 8px;
    font-family: "Tilt Warp", sans-serif;
    font-size: 54px;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
"XROT" 0,
"YROT" 0;
align-items: center;
justify-items: center;
display: flex; 
flex-direction: column;
}

#day {
padding-top: 8px;
font-family: "Tilt Warp", sans-serif;
font-optical-sizing: auto;
font-size: 18px;
font-weight: 400;
font-style: normal;
font-variation-settings:
"XROT" 0,
"YROT" 0;
display: flex; 
flex-direction: column;
align-items: center;
justify-items: center;
}

#good {
    font-family: "Tilt Warp", sans-serif;
    font-size: 34px;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
    "XROT" 0,
    "YROT" 0;
    justify-content: center; 
    align-items: center; 
    display: flex; 
    flex-direction: column;
    padding-top: 28px;
}

.todo{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 55px auto 20px;
    padding: 40px 30px 30px;
    border-radius: 10px;
}


.todo h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo h2 img {
    width: 30px;
    margin-left: 10px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
background-color: rgb(255, 215, 163);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-family: "Quicksand", sans-serif;
    font-style: normal;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 68px;
    width: 68px;
    border-radius: 50px;
    background-image: url(images/off-lever.png);
    background-size: cover;
    position: center;
    top: -2px;
    left: -12px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
        background-image: url(images/on-lever.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}

.reset-btn {
    content: '';
    background-image: url(images/reset.png);
    background-size: cover;
    width: 72px;
    height: 72px;
    cursor: pointer;
    position: absolute;
    left: 22px;
    bottom: 22px;
}

hr {
    margin-top: 228px;
}
p {
    text-align: center;
}